.page {
<<<<<<< Updated upstream
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #FCFCFB;
}
body{
    background-color: #FCFCFB;
=======
    background-color: #7A7A7A !important;
}
body{
    background-color: #FCFCFB !important;
>>>>>>> Stashed changes
}
.picture{
    flex:1;
}

img {
    max-width: 100%;
    height: auto;
    width: auto; /* ie8 */
}

.events{
    display: flex;
    align-self: center;
    flex-direction: row-reverse;
}
.news{
    display: flex;
    flex-direction: row-reverse;
}
.classes{
    display: flex;
    flex-direction: column-reverse;
<<<<<<< Updated upstream
=======
}

.tophalf{
    display:flex; 
    align-items: stretch;
    margin-left: 375px;
    margin-top: -950px;
    justify-content: space-between;
}
.box{
    display:flex;
    background-color: #FCFCFB;
    align-items: stretch;
    margin-left: 375px;
    margin-top: 600px;
    justify-content: space-between;
}
.Sidebar{
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
>>>>>>> Stashed changes
}